<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padder">
                <h1>Desarrollo con pasión aplicaciones y sitios webs.</h1>
                <p>Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Esta web la contrui desde cero con Pyhton y Flask! Y quiero conocer aún mas de este mundo.</p>
            </div>
            <div class="right padder">
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Solo envíame un correo! <a class="orange" href="#contacto">Pinchando aqui!!</a></p>
            </div>
        </div>
    </div>
</div>
