<div class="center padder white-bg">
    <div class="content padder">
        <div class="padder">
            <h1>No estas convencido? mira lo que he construído con Python!</h1>
            <div class="row">
                <div class="card third">
                    <h3>Casino Royal</h3>
                    <p>Una applicacion sobre un casino construida con wxPython.</p>
                    <a class="orange" target="_blank" href="https://github.com/Eficetti/Casino">Link aquí</a>
                </div>
                <div class="card third">
                    <h3>Gestor de Tareas</h3>
                    <p>Una applicacion para gestionar mis tareas construida con FLASK.</p>
                    <a class="orange" target="_blank"  href="https://github.com/Eficetti/ToDoList/tree/main/todo">Link aquí</a>
                </div>
                <div class="card third">
                    <h3>Gestor de clientes</h3>
                    <p>Una aplicacion que gestiona los clientes construida con TKinter.</p>
                    <a class="orange" target="_blank"  href="https://github.com/Eficetti/GestorClientes">Link aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center padder white-bg">
    <div class="content padder">
        <div class="padder">
            <h1>Mmmh, quizas algo de flutter te pueda interesar!</h1>
            <div class="row">
                <div class="card third">
                    <h3>Flutter Primera App</h3>
                    <p>Una applicacion sobre un gestor de reviews y users.</p>
                    <a class="orange" target="_blank" href="https://github.com/Eficetti/Flutter">Link aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>